{% extends 'base.html' %}
{% block title %}ROUTES HOME{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<style>
    html,
body,
#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS';
  color: black;
}


</style>

<div class="topnav">  
</div>

<br>

<h2>Hey, {{session["fname"]}} you've visited {{session["numberOfCities"]}} different cities!</h2>


<div id="map-canvas"></div>

<script>


function initMap() {
  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(51.257195, 3.716563),
    scrollwheel: false,
    zoomControl: true,
    panControl: false,
    streetViewControl: false,
  };
  const map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions)
  
  const cityInfo = new google.maps.InfoWindow();

  // Retrieving the information with AJAX.
  //
  
  fetch("/api/cities")
    .then((response) => response.json())
    .then((cities) => {
      console.log(cities)
      for (const city of cities) { console.log(city)
        // Define the content of the infoWindow
        const cityInfoContent = city.name +', '+ city.country;
      console.log(cityInfoContent)
      console.log("should be lat: ", city.lat)
      console.log("should be long: ", city.long)

        const cityMarker = new google.maps.Marker({
          position: {
            lat: city.lat*1,
            lng: city.long*1,
          },
          
          map, // same as saying map: map
        });

        cityMarker.addListener('click', () => {
          cityInfo.close();
          cityInfo.setContent(cityInfoContent);
          cityInfo.open(map, cityMarker);
        });
      }
    })
    .catch(() => {
      alert(`
      You haven't visited any cities yet!
    `);
    });

 
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyCdKUZPbrSErfdmwL33htvJLDk0bcR5-2U&callback=initMap"></script>

</html>
{% endblock %}
