{% extends 'base.html' %}
{% block title %}ROUTES HOME{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<style>
    html,
body,
#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS';
  color: black;
}


</style>

<div class="topnav">  
</div>

<br>

<h2>Hey, {{session["fname"]}} you've visited {{session["numberOfCities"]}} different cities!</h2>

<div id="map-canvas"></div>

<script>
    var sessionData = {{session|tojson}};



var placeIdList2 = sessionData["places_id2"];


var map;
var infoWindow;
var service;

function initialize() {
  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(51.257195, 3.716563),
    scrollwheel: false,
    zoomControl: true,
    panControl: false,
    streetViewControl: false,
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  infoWindow = new google.maps.InfoWindow();
  
for (var placeId in placeIdList2){
    
    var placeId2= placeIdList2[placeId];
  
  
  var service = new google.maps.places.PlacesService(map);
  service.getDetails({
    placeId: placeId2
  }, function(result, status) {
    if (status != google.maps.places.PlacesServiceStatus.OK) {
      alert(status);
      return;
    }
    var marker = new google.maps.Marker({
      map: map,
      position: result.geometry.location
    });

    marker.addListener('click', () => {
        infoWindow.close();
        var address = result.adr_address;
        console.log(result.photos[0])
        infoWindow.setContent(address);
        // console.log(infoWindow.setContent("not sure if it works"))
        infoWindow.open(map, marker);
        });
 
    // console.log(result.phots)
    // var address = result.adr_address;
    // var newAddr = address.split("</span>,");
    // var photos=result.photos    
    // infoWindow.setContent(newAddr[0] + "<br>" + photos[1] + "<br>" );
    // infoWindow.open(map, marker);
  });
}

}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyCdKUZPbrSErfdmwL33htvJLDk0bcR5-2U&callback=initialize"></script>

</html>
{% endblock %}
